.owl-prev, .owl-next {
  position: absolute;
  /* Distance from the left edge for both buttons */
  background-color: transparent; /* Transparent background */
  border: 2px solid #fff; /* White border */
  width: 40px; /* Button size */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #fff; /* Icon color */
  font-size: 18px; /* Icon size */
  cursor: pointer;
  margin-bottom: 10px; /* Space between the buttons */
  top: 30%; /* Adjust top for initial positioning */
  transform: translateY(-100%); /* Moves the first button up */
  left:-70%;
}

.owl-next {
  top: -30px; /* Adjusts the top position for the next button to stack under the previous button */
}
.owl-prev:hover, .owl-next:hover {
  background-color: transparent; /* No background color change on hover */
}

.owl-prev i, .owl-next i {
  font-size: 18px; /* Adjust the icon size */
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .owl-prev, .owl-next {
    width: 35px; /* Smaller button size for mobile */
    height: 35px; /* Smaller height */
  }

  .owl-prev i, .owl-next i {
    font-size: 16px; /* Smaller icon size for mobile */
  }
}

@media (max-width: 576px) {
  .owl-next{
    top:150%;
  }
  .owl-prev, .owl-next {
    width: 30px; /* Even smaller button size */
    height: 30px; /* Even smaller height */
    /* top:150%; */
  }

  .owl-prev i, .owl-next i {
    font-size: 14px; /* Smallest icon size */
  }
}
