.list-table-format2{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    align-items: center;
    gap:20px;
    padding: 12px 15px;
    border:1px solid #cacaca;
    font-size: 13px; 
}
.list-table-format2.title{
    background-color: #f9f9f9;
}
.list-table-format2 img{
    width:90px;
}
@media(max-width:600px){
    .list-table-format2{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px;
    }
    .list-table-format2.title{
        display: none;
    }
}

.add-course{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center; */
}

span{
    max-width: 50%;
}
 .a{
    height:40px;
    width:150px;
    background-color: #06BBCC;
    /* border-radius:30px 20px; */
    color:white;
    border: none;
    outline: none;
    /* text-align: center; */

}
.just-center1{
    display: flex;
    justify-content: center;
}